{%  extends 'auth_base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<!-- Login Start-->
<div class="auth-main">
    <div class="codex-authbox">
        <div class="auth-header">
            <div class="codex-brand"><a href="#"><img class="img-fluid light-logo"
                                                      src="{% static 'assets/images/logo/glogo100x100.png' %}"
                                                      alt=""><img
                    class="img-fluid dark-logo" src="{% static 'assets/images/logo/glogo100x100.png' %}" alt=""></a>
            </div>
            <h3>welcome to Gloriya Global</h3>
            <h6>don't have an account? <a class="text-primary" href="{% url 'authentic:signup' %}">creat an account</a>
            </h6>
        </div>
        <form action="/auth/login/" method="post">
            {{ form|crispy}}
            {% csrf_token %}
            <div class="form-group">
                <button class="btn btn-outline-primary" type="submit"><i class="fa fa-sign-in"></i> Login</button>
            </div>
        </form>
        <div class="auth-footer">
            <h5 class="auth-with">Or login in with </h5>
            <ul class="login-list">
                <li><a class="bg-fb" href="javascript:void(0);"> <img class="img-fluid"
                                                                      src="{% static 'assets/images/auth/1.png' %}"
                                                                      alt="facebook">facebook</a>
                </li>
                <li><a class="bg-google" href="javascript:void(0);"> <img class="img-fluid"
                                                                          src="{% static 'assets/images/auth/2.png' %}"
                                                                          alt="google">google</a></li>
            </ul>
        </div>
    </div>
</div>
<!-- Login End-->
{% endblock %}