// main jquery
script(src="../assets/js/jquery-3.6.0.js")

// Feather iocns js
script(src="../assets/js/icons/feather-icon/feather.js")

// customizer
script(src="../assets/js/customizer.js")

// Scrollbar
script(src="../assets/js/vendors/simplebar.js")
   
//- Plugin js
if apexchart  
   // apex chart
   script(src="../assets/js/vendors/chart/apexcharts.js")

if customapexchart
   //custom apex chart
   script(src="../assets/js/vendors/chart/custom-apexchart.js")
      
if dashboard
   // dashboard
   script(src="../assets/js/dashboard/dashboard.js")

if ecommercedash
   // ecommerce dashboard
   script(src="../assets/js/dashboard/ecommerce.js")

if slickslider
   // slick slider
   script(src="../assets/js/vendors/slider/slick-sldier/slick.min.js")
   script(src="../assets/js/vendors/slider/slick-sldier/slick-custom.js")


if ionRangeslider
   // ion range slider
   script(src="../assets/js/vendors/range-slider/ion-rangeslider.js")
   script(src="../assets/js/vendors/range-slider/custom-rangeslider.js")

if calendar
   // calendar
   script(src="../assets/js/vendors/calendar/calendar.js")  
   script(src="../assets/js/vendors/calendar/custom-calendar.js")
      
if formvalidation
   // formvalidation
   script(src="../assets/js/form/form-validation.js")

if ckeditor
   // ecommerce dashboard
   script(src="../assets/js/vendors/ckeditor/ckeditor.js")

if todoList
   // Todo list
   script(src='../assets/js/vendors/todo/todo.js' )  

if lightbox
   // light box
   script(src='../assets/js/vendors/light-box/fancybox.umd.js')
      
if comingsoon
   // coming soon
   script(src='../assets/js/vendors/coming-soon/coming-soon.js')

if dataTable 
   //Datatable
   script(src='../assets/js/vendors/datatable/jquery.dataTables.min.js')
   script(src='../assets/js/vendors/datatable/dataTables.buttons.min.js')
   script(src='../assets/js/vendors/datatable/buttons.print.min.js')
   script(src='../assets/js/vendors/datatable/jszip.min.js')
   script(src='../assets/js/vendors/datatable/pdfmake.min.js')
   script(src='../assets/js/vendors/datatable/vfs_fonts.js')
   script(src='../assets/js/vendors/datatable/buttons.html5.min.js')
   script(src='../assets/js/vendors/datatable/custom-datatable.js')

// Custom script
script(src="../assets/js/custom-script.js")