{% extends 'base.html' %}
{% block content %}
{% load static %}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/apexcharts/4.0.0/apexcharts.min.css"
      integrity="sha512-e3RSvqXJCnockRd9S0Qe7D2g3Gld0+6Sks/tpU2SGsJrvVHyfTopEf01UHhpGMaoTWqcepzRBKhFqAWJcD8guA=="
      crossorigin="anonymous" referrerpolicy="no-referrer"/>

<!-- theme body start-->


<div class="theme-body" data-simplebar>
    <div class="custom-container common-dash">
        <div class="row">
            <div class="col-xxl-3 col-sm-6 cdx-xxl-50">
                <div class="card sale-revenue">
                    <div class="card-header">
                        <h4>Total Plan</h4>
                        <div class="setting-card action-menu">

                            <div class="action-toggle"><i class="codeCopy" data-feather="more-horizontal"></i></div>
                            <ul class="action-dropdown">
                                <li><a href="javascript:void(0);"><i class="fa fa-calendar-o"></i>weekly</a></li>
                                <li><a href="javascript:void(0);"><i class="fa fa-calendar-check-o"></i>monthly</a></li>
                                <li><a href="javascript:void(0);"><i class="fa fa-calendar"></i>yearly</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="card-body progressCounter">
                        <h2>$<span class="count">485347</span><span class="badge badge-primary">25.7%<i
                                class="fa fa-angle-up">                  </i></span></h2>
                        <div class="progress progress-primary">
                            <div class="progress-bar" role="progressbar" aria-valuenow="78" aria-valuemin="0"
                                 aria-valuemax="100"></div>
                        </div>
                        <h4 class="text-light">this week extra earnings in <span
                                class="text-primary">$1,827.24                   </span></h4>
                    </div>
                </div>
            </div>
            <div class="col-xxl-3 col-sm-6 cdx-xxl-50">
                <div class="card sale-revenue">
                    <div class="card-header">
                        <h4>Total Fact </h4>
                        <div class="setting-card action-menu">
                            <div class="action-toggle"><i class="codeCopy" data-feather="more-horizontal"></i></div>
                            <ul class="action-dropdown">
                                <li><a href="javascript:void(0);"><i class="fa fa-calendar-o"></i>weekly</a></li>
                                <li><a href="javascript:void(0);"><i class="fa fa-calendar-check-o"></i>monthly</a></li>
                                <li><a href="javascript:void(0);"><i class="fa fa-calendar"></i>yearly </a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="card-body progressCounter">
                        <h2>$<span class="count">32586</span><span class="badge badge-secondary">25.7%<i
                                class="fa fa-angle-up"> </i></span></h2>
                        <div class="progress progress-secondary">
                            <div class="progress-bar" role="progressbar" aria-valuenow="48" aria-valuemin="0"
                                 aria-valuemax="100"></div>
                        </div>
                        <h4 class="text-light">this week extra sale in <span
                                class="text-secondary">$1,827.24                  </span></h4>
                    </div>
                </div>
            </div>
            <div class="col-xxl-3 col-sm-6 cdx-xxl-50">
                <div class="card sale-revenue">
                    <div class="card-header">
                        <h4>Total Percent </h4>
                        <div class="setting-card action-menu">
                            <div class="action-toggle"><i class="codeCopy" data-feather="more-horizontal"></i></div>
                            <ul class="action-dropdown">
                                <li><a href="javascript:void(0);"><i class="fa fa-calendar-o"></i>weekly</a></li>
                                <li><a href="javascript:void(0);"><i class="fa fa-calendar-check-o"></i>monthly</a></li>
                                <li><a href="javascript:void(0);"><i class="fa fa-calendar"></i>yearly </a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="card-body progressCounter">
                        <h2>$<span class="count">255719</span><span class="badge badge-success">20.5%<i
                                class="fa fa-angle-up"> </i></span></h2>
                        <div class="progress progress-success">
                            <div class="progress-bar" role="progressbar" aria-valuenow="45" aria-valuemin="0"
                                 aria-valuemax="100"></div>
                        </div>
                        <h4 class="text-light">this week extra profit in <span
                                class="text-success">$1,7.24                  </span></h4>
                    </div>
                </div>
            </div>
            <div class="col-xxl-3 col-sm-6 cdx-xxl-50">
                <div class="card sale-revenue">
                    <div class="card-header">
                        <h4>Total Forecast </h4>
                        <div class="setting-card action-menu">
                            <div class="action-toggle"><i class="codeCopy" data-feather="more-horizontal"></i></div>
                            <ul class="action-dropdown">
                                <li><a href="javascript:void(0);"><i class="fa fa-calendar-o"></i>weekly</a></li>
                                <li><a href="javascript:void(0);"><i class="fa fa-calendar-check-o"></i>monthly</a></li>
                                <li><a href="javascript:void(0);"><i class="fa fa-calendar"></i>yearly </a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="card-body progressCounter">
                        <h2>$<span class="count">1082</span><span class="badge badge-info">30.00%<i
                                class="fa fa-angle-up"> </i></span></h2>
                        <div class="progress progress-info">
                            <div class="progress-bar" role="progressbar" aria-valuenow="88" aria-valuemin="0"
                                 aria-valuemax="100"></div>
                        </div>
                        <h4 class="text-light">this week extra order in <span class="text-info">$1,20.24 </span></h4>
                    </div>
                </div>
            </div>
            <div class="col-xxl-8 cdx-xxl-50">
                <div class="card overall-revenuetbl">
                    <div class="card-header">
                        <h4>Overall Revenue By Monthly</h4>
                        <div class="setting-card action-menu">
                            <div class="action-toggle"><i class="codeCopy" data-feather="more-horizontal"></i></div>
                            <ul class="action-dropdown">
                                <li><a href="javascript:void(0);"><i class="fa fa-calendar-o"></i>weekly</a></li>
                                <li><a href="javascript:void(0);"><i class="fa fa-calendar-check-o"></i>monthly</a></li>
                                <li><a href="javascript:void(0);"><i class="fa fa-calendar"></i>yearly</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="card-body">
                        <div id="over-revenue">
                            <div id="sale-category7" style="min-height: 365px;">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xxl-4 col-xl-6 cdx-xxl-50 cdxorder-xl-1">
                <div class="card sale-categorychart">
                    <div class="card-header">
                        <h4>Product Status </h4>
                        <div class="setting-card action-menu">
                            <div class="action-toggle"><i class="codeCopy" data-feather="more-horizontal"></i></div>
                            <ul class="action-dropdown">
                                <li><a href="javascript:void(0);"><i class="fa fa-calendar-o"></i>weekly</a></li>
                                <li><a href="javascript:void(0);"><i class="fa fa-calendar-check-o"></i>monthly</a></li>
                                <li><a href="javascript:void(0);"><i class="fa fa-calendar"></i>yearly </a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="card-body">
                        <div id="sale-category"></div>
                    </div>
                </div>
            </div>
            <div class="col-xxl-4 col-xl-6 cdx-xxl-50 cdxorder-xl-1">
                <div class="card sale-categorychart">
                    <div class="card-header">
                        <h4>Product Status </h4>
                        <div class="setting-card action-menu">
                            <div class="action-toggle"><i class="codeCopy" data-feather="more-horizontal"></i></div>
                            <ul class="action-dropdown">
                                <li><a href="javascript:void(0);"><i class="fa fa-calendar-o"></i>weekly</a></li>
                                <li><a href="javascript:void(0);"><i class="fa fa-calendar-check-o"></i>monthly</a></li>
                                <li><a href="javascript:void(0);"><i class="fa fa-calendar"></i>yearly </a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="card-body">
                        <div id="sale-category2"></div>
                        <div class="category-count">
                            <h2>55.8 % </h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xxl-4 col-xl-6 cdx-xxl-50 cdxorder-xl-1">
                <div class="card sale-categorychart">
                    <div class="card-header">
                        <h4>Product Status </h4>
                        <div class="setting-card action-menu">
                            <div class="action-toggle"><i class="codeCopy" data-feather="more-horizontal"></i></div>
                            <ul class="action-dropdown">
                                <li><a href="javascript:void(0);"><i class="fa fa-calendar-o"></i>weekly</a></li>
                                <li><a href="javascript:void(0);"><i class="fa fa-calendar-check-o"></i>monthly</a></li>
                                <li><a href="javascript:void(0);"><i class="fa fa-calendar"></i>yearly </a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="card-body">
                        <div id="sale-category3"></div>
                    </div>
                </div>
            </div>
            <div class="col-xxl-4 col-xl-6 cdx-xxl-50 cdxorder-xl-1">
                <div class="card sale-categorychart">
                    <div class="card-header">
                        <h4>Product Status </h4>
                        <div class="setting-card action-menu">
                            <div class="action-toggle"><i class="codeCopy" data-feather="more-horizontal"></i></div>
                            <ul class="action-dropdown">
                                <li><a href="javascript:void(0);"><i class="fa fa-calendar-o"></i>weekly</a></li>
                                <li><a href="javascript:void(0);"><i class="fa fa-calendar-check-o"></i>monthly</a></li>
                                <li><a href="javascript:void(0);"><i class="fa fa-calendar"></i>yearly </a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="card-body">
                        <div id="sale-category4"></div>
                    </div>
                </div>
            </div>
            <div class="col-xxl-4 col-xl-6 cdx-xxl-50 cdxorder-xl-1">
                <div class="card top-sellintbl">
                    <div class="card-header">
                        <h4>Top Selling Products</h4>
                        <div class="setting-card action-menu">
                            <div class="action-toggle"><i class="codeCopy" data-feather="more-horizontal"></i></div>
                            <ul class="action-dropdown">
                                <li><a href="javascript:void(0);"><i class="fa fa-calendar-o"></i>weekly</a></li>
                                <li><a href="javascript:void(0);"><i class="fa fa-calendar-check-o"></i>monthly</a></li>
                                <li><a href="javascript:void(0);"><i class="fa fa-calendar"></i>yearly</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th>Product</th>
                                    <th>Price</th>
                                    <th>Stock</th>
                                    <th>Total</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for i in topSellingProducts %}
                                <tr>
                                    <td>
                                        <div class="media">
                                            <div class="img-wrap"><img class="img-fluid"
                                                                       src="{% static 'assets/images/ecom-dashboard/small-pro/1.jpg' %}"
                                                                       alt=""></div>
                                            <div class="media-body">
                                                <a href="/product/{{i.id}}">
                                                    <h6>{{i.NameProduct}}</h6>
                                                </a>
                                                <span>{{i.CodeProduct}}</span>

                                            </div>
                                        </div>
                                    </td>
                                    <td class="text-light">{{i.Price}}</td>
                                    <td class="text-light">{{i.Amount}} sold</td>
                                    <td class="text-light">{{i.Total__sum}} sum</td>
                                </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xxl-8 cdx-xxl-50">
                <div class="card overall-revenuetbl">
                    <div class="card-header">
                        <h4>Overall Revenue By Monthly</h4>
                        <div class="setting-card action-menu">
                            <div class="action-toggle"><i class="codeCopy" data-feather="more-horizontal"></i></div>
                            <ul class="action-dropdown">
                                <li><a href="javascript:void(0);"><i class="fa fa-calendar-o"></i>weekly</a></li>
                                <li><a href="javascript:void(0);"><i class="fa fa-calendar-check-o"></i>monthly</a></li>
                                <li><a href="javascript:void(0);"><i class="fa fa-calendar"></i>yearly</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="card-body">

                        <div id="sale-category5" style="min-height: 365px;">
                        </div>

                    </div>
                </div>
            </div>

            <div class="col-12">
                <div class="ecompro-slide arrow-style1">
                    {% for i in productSelling %}
                    <div>
                        <div class="card ecom-product">
                            <div class="card-body">
                                <div class="product-imgwrap"><img class="img-fluid"
                                                                  src="{% static 'assets/images/ecom-dashboard/product/1.jpg' %}"
                                                                  alt="1.jpg"></div>
                                <div class="detail-wrap"><a href="/product/{{i.id}}">
                                    <h5>{{i}}</h5>
                                    <p>id: {{i.CodeProduct}}</p></a>
                                    <h6 class="text-light">Price: {{i.Price}}</h6>
                                    <div class="rating-detail">
                                        <ul class="rating-list">
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}

                </div>
            </div>
            <div class="col-xxl-6 cdx-xxl-100">
                <div class="card earning-revenue">
                    <div class="card-header">
                        <h4>selling growth</h4>
                        <div class="setting-card action-menu">
                            <div class="action-toggle"><i class="codeCopy" data-feather="more-horizontal"></i></div>
                            <ul class="action-dropdown">
                                <li><a href="javascript:void(0);"><i class="fa fa-calendar-o"></i>weekly</a></li>
                                <li><a href="javascript:void(0);"><i class="fa fa-calendar-check-o"></i>monthly</a></li>
                                <li><a href="javascript:void(0);"><i class="fa fa-calendar"></i>yearly</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="card-body">
                        <div id="sale-category6"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ecommerce dashboard-->
<script src="{% static 'assets/js/dashboard/ecommerce.js' %}"></script>
<!-- theme body start-->

<!-- apex chart-->
<script src="{% static 'assets/js/vendors/chart/apexcharts.js' %}"></script>
<!-- custom apex chart-->
<script src="{% static 'assets/js/vendors/chart/custom-apexchart.js' %}"></script>
<script src="{% static 'assets/js/dashboard/static.js' %}"></script>

{% endblock %}