{% extends 'base.html' %}
{% load static %}
{% load calc_protsent%}
<!-- theme body start-->

{% block content %}
<script async
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAA8daFWf57U5maec335y8lp-NTr_rJ2m4&callback=initMap">
</script>
{% if message %}
<div class="card m-5">
    <div class="card-header">
        <h1 class="text-danger">{{ message }}</h1>
    </div>
    <div class="card-body">
        <p class="text-muted"> Hamma funksiyalar tog'ri ishlashi uchun dastlab 1C bilan bog'lanishingiz talab
            qilinadi</p>
    </div>
    <div class="card-footer">
        <a href="{% url 'authentic:user-edit' %}" class="text-danger">Click to Connect ...</a>
    </div>
</div>
{% else %}
{% if request.user.c1_connected %}
<div class="theme-body common-dash" data-simplebar>
    <div class="custom-container">
        <div class="row">

            <div class="col-xl-3 cdx-xl-50">
                <div class="card welcome-card overflow-hidden">
                    <!--                    <div class="card-header">-->
                    <!--                        <div>-->
                    <!--                            <i class="fa fa-star text-warning"></i>-->
                    <!--                            <i class="fa fa-star text-warning"></i>-->
                    <!--                            <i class="fa fa-star text-warning"></i>-->
                    <!--                            <i class="fa fa-star text-warning"></i>-->
                    <!--                            <i class="fa fa-star-half-empty text-warning"></i>-->
                    <!--                        </div>-->

                    <!--                    </div>-->
                    <div class="card-body mt-50">
                        <div class="img-wrap"><img class="img-fluid" src="{{ request.user.picture.url }}"
                                                   alt="image">

                        </div>
                        <h4><i class="fa fa-user"></i> {{ request.user.first_name }}
                            {{ request.user.last_name }}
                        </h4>
                    </div>
                </div>
            </div>
            <div class="col-xl-9 cdx-xl-100">
                <div class="row">
                    <div class="col-xxl-12">
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="card project-status">
                                    <div class="card-header">
                                        <h4><i class="fa fa-calendar"></i> Today
                                        </h4>

                                    </div>
                                    <div class="card-body progressCounter">
                                        <div class="media">
                                            <div>
                                                <h3><span class="counter text-danger mark">{{report.Sum}}</span> Sum
                                                </h3>
                                            </div>

                                        </div>
                                        <div class="progress progress-secondary">
                                            <div class="progress-bar" role="progressbar"
                                                 aria-valuenow="{{kpi.AKBPercent}}"
                                                 aria-valuemin="0" aria-valuemax="{{kpi.AKBPlan}}"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="card project-status">
                                    <div class="card-header">
                                        <h4><i class="fa fa-users"></i> OKB: <span
                                                class="count text-primary">{{kpi.OKB}}</span>
                                        </h4>
                                        <div class="setting-card action-menu"><a class="action-toggle"
                                                                                 href="javascript:void(0)"><i
                                                class="codeCopy" data-feather="more-horizontal"></i></a>
                                            <ul class="action-dropdown">
                                                <li><a href="javascript:void(0);"><i class="fa fa-calendar-o"></i>weekly</a>
                                                </li>
                                                <li><a href="javascript:void(0);"><i class="fa fa-calendar-check-o"></i>monthly</a>
                                                </li>
                                                <li><a href="javascript:void(0);"><i
                                                        class="fa fa-calendar"></i>yearly</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="card-body progressCounter">
                                        <div class="media">
                                            <div>
                                                <h2>PLAN: <span class="count text-primary">{{kpi.AKBPlan}}</span></h2>
                                            </div>
                                            <div class="media-body"><span class="badge badge-success">{{kpi.OKB|calc_protsent:kpi.AKBPlan|floatformat:2 }}%<i
                                                    class="fa fa-angle-up"></i></span></div>
                                        </div>
                                        <div class="progress progress-primary">
                                            <div class="progress-bar" role="progressbar"
                                                 aria-valuenow="{{kpi.OKB|calc_protsent:kpi.AKBPlan|floatformat:2 }}"
                                                 aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="card project-status">
                                    <div class="card-header">
                                        <h4><i class="fa fa-users"></i> AKB Plan: <span class="text-secondary">{{kpi.AKBPlan}}</span>
                                        </h4>
                                        <div class="setting-card action-menu"><a class="action-toggle"
                                                                                 href="javascript:void(0)"><i
                                                class="codeCopy" data-feather="more-horizontal"></i></a>
                                            <ul class="action-dropdown">
                                                <li><a href="javascript:void(0);"><i class="fa fa-calendar-o"></i>weekly</a>
                                                </li>
                                                <li><a href="javascript:void(0);"><i class="fa fa-calendar-check-o"></i>monthly</a>
                                                </li>
                                                <li><a href="javascript:void(0);"><i class="fa fa-calendar"></i>yearly
                                                </a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="card-body progressCounter">
                                        <div class="media">
                                            <div>
                                                <h2><span class="">FAKT: </span><span
                                                        class="count text-secondary">{{ kpi.AKBFact }}</span>
                                                </h2>
                                            </div>
                                            <div class="media-body"><span class="badge badge-secondary">{{kpi.AKBPercent|floatformat:2}}%<i
                                                    class="fa fa-angle-down"></i></span></div>
                                        </div>
                                        <div class="progress progress-secondary">
                                            <div class="progress-bar" role="progressbar"
                                                 aria-valuenow="{{kpi.AKBPercent}}"
                                                 aria-valuemin="0" aria-valuemax="{{kpi.AKBPlan}}"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-12 cdx-xl-50 cdxorder-xl-1">
                <div class="card countri-tbl">
                    <div class="card-header">
                        <h4>x% off Products and Actions</h4>
                        <div class="setting-card action-menu">
                            <div class="action-toggle"><i class="codeCopy" data-feather="more-horizontal"></i></div>
                            <ul class="action-dropdown">
                                <li><a href="javascript:void(0);"><i class="fa fa-calendar-o"></i>weekly</a></li>
                                <li><a href="javascript:void(0);"><i class="fa fa-calendar-check-o"></i>monthly</a></li>
                                <li><a href="javascript:void(0);"><i class="fa fa-calendar"></i>yearly</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table tblbody-p0">
                                <thead>
                                <tr>
                                    <td>
                                        <div class="media">
                                            <div class="flag-wrap fw-bold">
                                                Image
                                            </div>
                                            <div class="media-body fw-bold">Name</div>
                                        </div>
                                    </td>
                                    <td class="text-success fw-bold">Description</td>
                                    <td class="fw-bold"> Start date</td>
                                    <td>
                                        <h6 class="fw-bold">End date</h6>
                                    </td>
                                </tr>
                                </thead>
                                <tbody>
                                {% for i in aksiya %}
                                <tr>
                                    <td>
                                        <div class="media">
                                            <div class="flag-wrap">
                                                <img src="{% static 'assets/images/ecom-dashboard/product/akrem.jpeg' %}"
                                                     class="img-circle img-wrap">
                                            </div>
                                            <div class="media-body">{{ i.name }}</div>
                                        </div>
                                    </td>
                                    <td class="text-success">
                                        {{ i.description }}
                                        <i class="fa fa-angle-down ml-5"></i>
                                        <div class="setting-card action-menu">
                                            <div class="action-toggle">
                                                <i class="codeCopy" data-feather="more-horizontal"></i>
                                            </div>
                                            <ul class="action-dropdown">
                                                {% for product in i.products %}
                                                <li>
                                                    <a href="javascript:void(0);">
                                                        <i class="fa fa-product"></i> {{ product.name }}
                                                    </a>
                                                </li>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                    </td>
                                    <td>{{ i.start_date }}</td>
                                    <td>
                                        <h6>{{ i.end_date }}</h6>
                                    </td>
                                </tr>
                                {% endfor %}

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 cdx-xl-50">
                <div class="card support-inboxtbl">
                    <div class="card-header">
                        <h4>Support Inbox</h4>
                        <div class="setting-card action-menu">
                            <div class="action-toggle"><i class="codeCopy" data-feather="more-horizontal"></i></div>
                            <ul class="action-dropdown">
                                <li><a href="javascript:void(0);"><i class="fa fa-calendar-o"></i>weekly</a></li>
                                <li><a href="javascript:void(0);"><i class="fa fa-calendar-check-o"></i>monthly</a></li>
                                <li><a href="javascript:void(0);"><i class="fa fa-calendar"></i>yearly</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <tbody>
                                <tr>
                                    <td>
                                        <div class="media">
                                            <div class="img-wrap"><img class="img-fluid"
                                                                       src="../assets/images/avtar/6.jpg"
                                                                       alt="recent-product"></div>
                                            <div class="media-body">
                                                <h6>Jordan Nt</h6>
                                                <p class="text-light">My item doesn’t shio to correct address</p>
                                            </div>
                                        </div>
                                    </td>
                                    <td><span class="badge badge-primary">10 hours ago</span></td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="media">
                                            <div class="img-wrap"><img class="img-fluid"
                                                                       src="../assets/images/avtar/2.jpg"
                                                                       alt="recent-product"></div>
                                            <div class="media-body">
                                                <h6>Carolien Bloeme</h6>
                                                <p class="text-light">You Shipped Color, i need it to be</p>
                                            </div>
                                        </div>
                                    </td>
                                    <td><span class="badge badge-primary">8 hours ago</span></td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="media">
                                            <div class="img-wrap"><img class="img-fluid"
                                                                       src="../assets/images/avtar/3.jpg"
                                                                       alt="recent-product"></div>
                                            <div class="media-body">
                                                <h6>Lisanne Viscaal</h6>
                                                <p class="text-light">Can you please refund back my mony</p>
                                            </div>
                                        </div>
                                    </td>
                                    <td><span class="badge badge-primary">6 hours ago</span></td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="media">
                                            <div class="img-wrap"><img class="img-fluid"
                                                                       src="../assets/images/avtar/4.jpg"
                                                                       alt="recent-product"></div>
                                            <div class="media-body">
                                                <h6>Sun Jun</h6>
                                                <p class="text-light">Thank you very much for quick support!</p>
                                            </div>
                                        </div>
                                    </td>
                                    <td><span class="badge badge-primary">4 hours ago</span></td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="media">
                                            <div class="img-wrap"><img class="img-fluid"
                                                                       src="../assets/images/avtar/5.jpg"
                                                                       alt="recent-product"></div>
                                            <div class="media-body">
                                                <h6>Tolos Joune</h6>
                                                <p class="text-light">My item doesn’t shio to correct address</p>
                                            </div>
                                        </div>
                                    </td>
                                    <td><span class="badge badge-primary">30 minute ago</span></td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="media">
                                            <div class="img-wrap"><img class="img-fluid"
                                                                       src="../assets/images/avtar/4.jpg"
                                                                       alt="recent-product"></div>
                                            <div class="media-body">
                                                <h6>Sun Jun</h6>
                                                <p class="text-light">Thank you very much for quick support!</p>
                                            </div>
                                        </div>
                                    </td>
                                    <td><span class="badge badge-primary">4 hours ago</span></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-4 cdx-xl-100 cdxorder-xl-1">
                <div class="card dash-chat">
                    <div class="card-header">
                        <h4>live caht</h4>
                    </div>
                    <div class="card-body">
                        <div class="dash-chatbox">
                            <ul class="chating-list" data-simplebar>
                                <li>
                                    <div class="user-msgbox">
                                        <div class="media"><img class="img-fluid" src="../assets/images/avtar/1.jpg"
                                                                alt="image">
                                            <div class="media-body">
                                                <p>Lorem ipsum dolor sit amet</p>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="admin-msgbox">
                                        <div class="media">
                                            <div class="media-body">
                                                <p>Adipisicing elit, sed do eiusmod.</p>
                                            </div>
                                            <img class="img-fluid" src="../assets/images/avtar/2.jpg" alt="image">
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="admin-msgbox">
                                        <div class="media">
                                            <div class="media-body">
                                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                                                    eiusmod.</p>
                                            </div>
                                            <img class="img-fluid" src="../assets/images/avtar/2.jpg" alt="image">
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="user-msgbox">
                                        <div class="media"><img class="img-fluid" src="../assets/images/avtar/1.jpg"
                                                                alt="image">
                                            <div class="media-body">
                                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                                                    eiusmod.</p>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="admin-msgbox">
                                        <div class="media">
                                            <div class="media-body">
                                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                                                    eiusmod</p>
                                            </div>
                                            <img class="img-fluid" src="../assets/images/avtar/2.jpg" alt="image">
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="user-msgbox">
                                        <div class="media"><img class="img-fluid" src="../assets/images/avtar/1.jpg"
                                                                alt="image">
                                            <div class="media-body">
                                                <p>Lorem ipsum dolor sit amet</p>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="admin-msgbox">
                                        <div class="media">
                                            <div class="media-body">
                                                <p>Adipisicing elit, sed do eiusmod.</p>
                                            </div>
                                            <img class="img-fluid" src="../assets/images/avtar/2.jpg" alt="image">
                                        </div>
                                    </div>
                                </li>
                            </ul>
                            <div class="userchat-typebox d-flex"><a class="btn btn-primary mr-10"><i
                                    data-feather="smile"></i></a>
                                <input class="form-control" type="text" placeholder="Type a message" value=""
                                       autocomplete="off"><a class="btn btn-primary ml-10"> <i data-feather="send"> </i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-12 cdx-xl-50 cdxorder-xl-1">
                <div class="card-body">
                    <div class="timeline timeline-left">
                        {% for i in gps %}
                        <div class="timeline-grid">
                            <!-- Client Information -->
                            <div class="timeline-content">
                                <h3>{{ i.FixingDate }}</h3>
                                <div class="timeline-date">
                                    <i class="fa fa-calendar"></i> {{ i.FixingDate }}
                                </div>
                                <div>
                                    <span class="text-muted">Longitude: </span>
                                    <span>{{ i.Longitude }}</span>
                                    <span class="text-muted">Latitude: </span> <span>{{ i.Latitude }}</span>
                                </div>

                                <!-- Google Maps with Marker -->
                                <div class="embed-responsive">
                                    <iframe
                                            src="https://www.google.com/maps/embed/v1/place?key=AIzaSyAA8daFWf57U5maec335y8lp-NTr_rJ2m4
                                                                 &q={{ i.Latitude }},{{ i.Longitude }}
                                                                 &zoom=15
                                                                 &maptype=roadmap"
                                            height="600"
                                            style="border:0; width:100%;"
                                            allowfullscreen=""
                                            loading="lazy"
                                            referrerpolicy="no-referrer-when-downgrade">
                                    </iframe>
                                </div>
                            </div>
                        </div>
                        {% endfor %}


                    </div>
                </div>
                <div class="card">
                    <div class="card-header"><h3>Map</h3></div>
                    <div class="card-body">
                        {{gps_data|safe}}
                        <div id="map" style="height: 600px; width: 100%;">map</div>
                    </div>
                </div>
                <script src="{% static './assets/js/dashboard/maps.js' %}"></script>
            </div>
        </div>
    </div>
</div>
{% endif %}
{% endif %}
{% endblock %}

<!-- theme body end-->
