{% extends 'base.html' %}
{% load static %}

{% block content %}
<!--Datatable-->
<link href="{% static 'assets/css/vendor/datatable/jquery.dataTables.css' %}" rel="stylesheet">
<link href="{% static 'assets/css/vendor/datatable/buttons.dataTables.css' %}" rel="stylesheet">
<link href="{% static 'assets/css/vendor/datatable/custom-datatable.css' %}" rel="stylesheet">


<div class="theme-body myCustomScrollbar cdxshopping-cart product-detail-page" data-mcs-theme="minimal-dark">
    <div class="custom-container">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h4>Brands <span class="badge badge-success">{{products|length}}</span></h4>
                    </div>
                    <div class="card-body">
                        <div class="codex-accordion accordion accordion-flush " id="accordion-brand">
                            {% for product in products %}
                            <div class="accordion-item"><a class="cdx-collapse collapsed" href="javascript:void(0);"
                                                           data-bs-toggle="collapse"
                                                           data-bs-target="#iconaccordian-brand{{forloop.counter}}"><i
                                    class="fa fa-star mr-15"></i>{{product.ProductBrand}} </a>
                                <div class="collapse" id="iconaccordian-brand{{forloop.counter}}"
                                     data-bs-parent="#accordion-brand">
                                    <div class="accordion-body">
                                        <p class="text-light">
                                            {% for j in product.Rows %}
                                            {% for k in j.Rows%}
                                        <div class="codex-accordion accordion accordion-flush"
                                             id="accordion-productseries">

                                            <div class="accordion-item"><a class="cdx-collapse collapsed"
                                                                           href="javascript:void(0);"
                                                                           data-bs-toggle="collapse"
                                                                           data-bs-target="#iconaccordian-productseries{{forloop.counter}}"><i
                                                    class="fa fa-star mr-15"></i>Series: {{k.ProductSeries}}</a>
                                                <div class="collapse"
                                                     id="iconaccordian-productseries{{forloop.counter}}"
                                                     data-bs-parent="#accordion-productseries">
                                                    <div class="accordion-body">
                                                        {% for t in k.Rows %}

                                                        <div class="col-12">
                                                            <div class="card">
                                                                <div class="card-body table-responsive scroll-secondary">
                                                                    <table class="display dataTable cell-border table table-bordered"
                                                                           id="basicdata-tbl"
                                                                           style="width:100%">
                                                                        <thead>
                                                                        <tr class="text-success">
                                                                            <th>CodeProduct</th>
                                                                            <th>NameProduct</th>
                                                                            <th>Aviable</th>

                                                                        </tr>
                                                                        </thead>
                                                                        <tbody>
                                                                        {% for p in t.Rows %}
                                                                        <tr>
                                                                            <td>{{p.CodeProduct}}</td>
                                                                            <td>{{p.NameProduct}}</td>
                                                                            <td>{{p.Aviable}}</td>

                                                                        </tr>
                                                                        {% endfor %}
                                                                        </tbody>
                                                                    </table>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        {% endfor %}
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                        {% endfor %}
                                        {% endfor %}
                                        </p>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>
<!-- theme body end-->
<!-- ckeditor  -->
<script src="{% static 'assets/js/vendors/ckeditor/ckeditor.js' %}"></script>
<!-- Datatable-->
<script src="{% static 'assets/js/vendors/datatable/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'assets/js/vendors/datatable/dataTables.buttons.min.js' %}"></script>
<script src="{% static 'assets/js/vendors/datatable/buttons.print.min.js' %}"></script>
<script src="{% static 'assets/js/vendors/datatable/jszip.min.js' %}"></script>
<script src="{% static 'assets/js/vendors/datatable/pdfmake.min.js' %}"></script>
<script src="{% static 'assets/js/vendors/datatable/vfs_fonts.js' %}"></script>
<script src="{% static 'assets/js/vendors/datatable/buttons.html5.min.js' %}"></script>
<script src="{% static 'assets/js/vendors/datatable/custom-datatable.js' %}"></script>

<script>
    ClassicEditor
        .create(document.querySelector('#crowenkeditor'), {
            toolbar: ['heading', '|', 'bold', 'italic', 'link', 'bulletedList', 'numberedList', 'blockQuote'],
            heading: {
                options: [
                    {model: 'paragraph', title: 'Paragraph', class: 'ck-heading_paragraph'},
                    {model: 'heading1', view: 'h1', title: 'Heading 1', class: 'ck-heading_heading1'},
                    {model: 'heading2', view: 'h2', title: 'Heading 2', class: 'ck-heading_heading2'}
                ]
            }
        })
        .catch(error => {
            console.log(error);
        });
</script>
{% endblock %}