{% extends 'base.html' %}
{% load static %}
{% load to_replace %}
{% block content %}

<!-- theme body start-->
<div class="theme-body">
    <div class="custom-container cdxuser-profile">
        <div class="row">
            <div class="col-xl-3 cdx-xxl-30 cdx-xl-40">
                <div class="row">
                    <div class="col-xl-12 col-md-6">
                        <div class="card user-card">
                            <div class="card-header">
                                <div class="user-setting">
                                    <div class="action-menu">
                                        <div class="action-toggle"><i data-feather="more-vertical"> </i></div>
                                        <ul class="action-dropdown">
                                            <li><a href="{% url 'dashboard:profile' %}"> <i data-feather="eye"></i>View
                                                Profile</a></li>
                                            <li><a href="{% url 'authentic:user-edit' %}"> <i data-feather="edit"></i>Edit
                                                profile</a>
                                            </li>
                                            <li><a href="{% url 'authentic:password_change' %}"> <i
                                                    data-feather="lock"></i>Edit password</a>
                                            </li>
                                            <li>
                                                <button class="btn"><i data-feather="trash"></i>Delete profile</button>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="user-imgwrap"><img class="img-fluid rounded-50"
                                                               src="{{ request.user.picture.url }}" alt="4.jpg"></div>
                                <div class="user-detailwrap">
                                    <h3>{{ request.user.first_name }} {{request.user.last_name }}</h3>
                                    <h6>Agent id: {{request.user.code}}</h6>
                                    <ul class="codex-soclist">
                                        <li>
                                            {% if "@" in request.user.tg_username %}
                                            <a href="https://t.me/{{ request.user.tg_username|to_replace:'' }}">
                                                <i class="fa fa-telegram"></i></a>
                                            {% else %}
                                            <a href="https://t.me/{{request.user.tg_username}}"> <i
                                                    class="fa fa-telegram"></i></a>
                                            {% endif %}

                                        </li>
                                        <li><a href="https://instagram.com/"><i class="fa fa-instagram"></i></a></li>
                                        <li><a href=""><i class="fa fa-phone"></i></a></li>
                                    </ul>
                                    <div class="group-btn"><a class="btn btn-primary btn-md" href="javascript:void(0);">message </a><a
                                            class="btn btn-secondary btn-md" href="javascript:void(0);">follow</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-12 col-md-6">
                        <div class="card">
                            <div class="card-header">
                                <h4><i class="fa fa-user"></i>Contact</h4>
                            </div>
                            <div class="card-body">
                                <ul class="contact-list">
                                    <li>
                                        <div class="iocn-item"><i data-feather="user"></i></div>
                                        <h6> {{ request.user.first_name}} {{ request.user.last_name}}</h6>
                                    </li>
                                    <li>
                                        <div class="iocn-item"><i data-feather="bookmark"></i></div>
                                        <h6> studied in uk univercity</h6>
                                    </li>
                                    <li>
                                        <div class="iocn-item"><i data-feather="phone-call"></i></div>
                                        <h6><a href="tel:+9588489584">{{request.user.phone_number}}</a></h6>
                                    </li>
                                    <li>
                                        <div class="iocn-item"><i data-feather="mail"></i></div>
                                        <h6 class="text-lowercase"><a href="mailto:test@example.com">{{request.user.email}}</a>
                                        </h6>
                                    </li>
                                    <li>
                                        <div class="iocn-item"><i data-feather="map-pin"></i></div>
                                        <h6> live in uk</h6>
                                    </li>
                                    <li>
                                        <div class="iocn-item"><i data-feather="globe"></i></div>
                                        <h6 class="text-lowercase"> {{request.user.tg_username}}</h6>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-12 col-md-6">
                        <div class="card">
                            <div class="card-header">
                                <h4><i class="fa fa-users"></i>Acctive Clients</h4>
                            </div>
                            <div class="card-body">
                                <ul class="follower-list">
                                    {% for i in active_clients %}
                                    <li>
                                        <div class="media align-items-center"><img class="img-fluid"
                                                                                   src="{% static 'assets/images/avtar/1.jpg' %}"
                                                                                   alt="">
                                            <div class="media-body">
                                                <h6>{{i.clientName}}</h6>
                                                <span class="text-light">{{i.clientCode__count}} orders </span>
                                                <a class="badge badge-primary" href="javascript:void(0)"> <i
                                                        data-feather="plus"></i></a>
                                            </div>
                                        </div>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-12 col-md-6">
                        <div class="card">
                            <div class="card-header">
                                <h4><i class="fa fa-users"> </i>Passive Clients</h4>
                            </div>
                            <div class="card-body">
                                <ul class="follower-list">
                                    {% for i in passive_clients %}
                                    <li>
                                        <div class="media align-items-center"><img class="img-fluid"
                                                                                   src="{% static 'assets/images/avtar/1.jpg' %}"
                                                                                   alt="">
                                            <div class="media-body">
                                                <h6>{{i.clientName}}</h6>
                                                <p class="text-light">{{i.clientCode__count}} orders</p>
                                            </div>
                                            <a class="badge badge-primary" href="javascript:void(0)"> <i
                                                    data-feather="plus"></i>Create Order</a>
                                        </div>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-12 col-md-6">
                        <div class="card">
                            <div class="card-header">
                                <h4><i class="fa fa-picture-o"></i>Gallery</h4>
                            </div>
                            <div class="card-body">
                                <ul class="gallerypost-list">
                                    {% for i in gallery_images %}
                                    <li><a data-fancybox="gallery"
                                           data-src="{{ i.image.url }}"
                                           data-caption=""><img class="img-fluid"
                                                                src="{{i.image.url}}"
                                                                alt="gallery"></a></li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-12 col-md-6">
                        <div class="card">
                            <div class="card-header">
                                <h4><i class="fa fa-user-plus"> </i>Recently Added Clients</h4>
                            </div>
                            <div class="card-body">
                                <ul class="follower-list">
                                    {% for i in recently_clients %}
                                    <li>
                                        <div class="media align-items-center"><img class="img-fluid"
                                                                                   src="{% static 'assets/images/avtar/2.jpg' %}"
                                                                                   alt="">
                                            <div class="media-body">
                                                <h6>{{i.name}}</h6>
                                                <p class="text-light"><i class="fa fa-phone"></i>
                                                    {{i.contactPersonPhone}} </p>
                                            </div>
                                            <a class="badge badge-secondary"
                                               href="javascript:void(0)">{{i.created_at|date:"d, M, Y" }}</a>
                                        </div>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-9 cdx-xxl-70 cdx-xl-60">
                <div class="row">
                    <div class="col-12">
                        <div class="row">
                            <div class="col-xxl-4 col-md-6">
                                <div class="card">
                                    <div class="card-header">
                                        <h4>Business regions</h4>
                                    </div>
                                    <div class="card-body">
                                        <div class="input-group">
                                            <select class="form-control basic-select" name="state">
                                                {% for i in business_reg %}
                                                <option value="AL">{{i.Name}}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xxl-4 col-md-6">
                                <div class="card">
                                    <div class="card-header">
                                        <h4>Price List</h4>
                                    </div>
                                    <div class="card-body">
                                        <div class="input-group">
                                            <select class="form-control hidesearch" name="states[]">
                                                {% for i in price_list %}
                                                <option value="{{i.code}}">{{i.Name}}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xxl-4 col-md-6">
                                <div class="card">
                                    <div class="card-header">
                                        <h4>Agent Sklad</h4>
                                    </div>
                                    <div class="card-body">
                                        <div class="input-group">
                                            <select class="form-control hidesearch" name="states[]">
                                                {% for i in sklad %}
                                                <option value="{{i.code}}">{{i.Name}}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="card">
                                    <div class="card-header"><h3>Visited</h3>
                                        <div class="grid-wrap-header">
                                            <ul class="gridfilter-list">
                                                <li class="listview-toggle">
                                                    <div class="pagination pagination-success">
                                                      <span class="step-links page-item">
                                                        {% if gps.has_previous %}
                                                          <a href="?page=1&per_page={{per_page}}">&laquo;</a>
                                                          <a href="?page={{ gps.previous_page_number }}&per_page={{per_page}}"><</a>
                                                        {% endif %}

                                                        <span class="current">
                                                          Page {{ gps.number }} of {{ gps.paginator.num_pages }}.
                                                        </span>

                                                        {% if gps.has_next %}
                                                          <a href="?page={{ gps.next_page_number }}&per_page={{per_page}}"> > </a>
                                                          <a href="?page={{ gps.paginator.num_pages }}&per_page={{per_page}}"> &raquo;</a>
                                                        {% endif %}
                                                      </span>
                                                    </div>
                                                </li>
                                                <li class="listview-toggle">
                                                    <div class="btn-group">
                                                        <button class="btn btn-outline-success dropdown-toggle"
                                                                type="button"
                                                                data-bs-toggle="dropdown"
                                                                aria-expanded="false">{{per_page}}
                                                        </button>
                                                        <ul class="dropdown-menu">
                                                            <li><a class="dropdown-item" href="?per_page=4">4</a></li>
                                                            <li><a class="dropdown-item" href="?per_page=6">6</a></li>
                                                            <li><a class="dropdown-item" href="?per_page=8">8</a></li>
                                                            <li><a class="dropdown-item" href="?per_page=10">10</a></li>
                                                        </ul>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>

                                    </div>
                                    <div class="card-body">
                                        <div class="timeline timeline-left">
                                            {% for i in gps %}
                                            <div class="timeline-grid">
                                                <!-- User Image -->
                                                <div class="icon-wrap">
                                                    <img class="img-fluid" src="{{ request.user.picture.url }}" alt="">
                                                </div>

                                                <!-- Client Information -->
                                                <div class="timeline-content">
                                                    <h3>{{ i.NameClient }}</h3>
                                                    <div class="timeline-date">
                                                        <i class="fa fa-calendar"></i> {{ i.FixingDate }}
                                                    </div>
                                                    <div>
                                                        <span class="text-muted">Longitude: </span> <span>{{ i.Longitude }}</span>
                                                        <span class="text-muted">Latitude: </span> <span>{{ i.Latitude }}</span>
                                                    </div>

                                                    <!-- Google Maps Iframe -->
                                                    <div class="embed-responsive">
                                                        <iframe
                                                                src="https://www.google.com/maps/embed/v1/view?key=AIzaSyAA8daFWf57U5maec335y8lp-NTr_rJ2m4&center={{ i.Latitude }},{{ i.Longitude }}&zoom=15"
                                                                height="150"
                                                                style="border:0;"
                                                                width="100%"
                                                                allowfullscreen=""
                                                                loading="lazy"
                                                                referrerpolicy="no-referrer-when-downgrade">
                                                        </iframe>
                                                    </div>
                                                </div>
                                            </div>
                                            {% endfor %}

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- theme body end-->
<script src="{% static 'assets/js/vendors/select2/select2.min.js' %}"></script>
<script src="{% static 'assets/js/vendors/select2/custom-select2.js' %}"></script>
{% endblock %}