{% extends 'base.html' %}
{% load static %}
{% load to_replace %}
{% block content %}

<!-- theme body start-->
<div class="theme-body">
    <div class="custom-container cdxuser-profile">
        <div class="row">
            <div class="col-xl-3 cdx-xxl-30 cdx-xl-40">
                <div class="row">
                    <div class="col-xl-12 col-md-6">
                        <div class="card user-card">
                            <div class="card-header">
                                <div class="user-setting">
                                    <div class="action-menu">
                                        <div class="action-toggle"><i data-feather="more-vertical"> </i></div>
                                        <ul class="action-dropdown">
                                            <li><a href="{% url 'dashboard:profile' %}"> <i data-feather="eye"></i>View
                                                Profile</a></li>
                                            <li><a href="{% url 'authentic:user-edit' %}"> <i data-feather="edit"></i>Edit
                                                profile</a>
                                            </li>
                                            <li><a href="{% url 'authentic:password_change' %}"> <i
                                                    data-feather="lock"></i>Edit password</a>
                                            </li>
                                            <li>
                                                <button class="btn"><i data-feather="trash"></i>Delete profile</button>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="user-imgwrap"><img class="img-fluid rounded-50"
                                                               src="{{ request.user.picture.url }}" alt="4.jpg"></div>
                                <div class="user-detailwrap">
                                    <h3>{{ request.user.first_name }} {{request.user.last_name }}</h3>
                                    <h6>Agent id: {{request.user.code}}</h6>
                                    <ul class="codex-soclist">
                                        <li>
                                            {% if "@" in request.user.tg_username %}
                                            <a href="https://t.me/{{ request.user.tg_username|to_replace:'' }}">
                                                <i class="fa fa-telegram"></i></a>
                                            {% else %}
                                            <a href="https://t.me/{{request.user.tg_username}}"> <i
                                                    class="fa fa-telegram"></i></a>
                                            {% endif %}

                                        </li>
                                        <li><a href="https://instagram.com/"><i class="fa fa-instagram"></i></a></li>
                                        <li><a href=""><i class="fa fa-phone"></i></a></li>
                                    </ul>
                                    <div class="group-btn"><a class="btn btn-primary btn-md" href="javascript:void(0);">message </a><a
                                            class="btn btn-secondary btn-md" href="javascript:void(0);">follow</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-12 col-md-6">
                        <div class="card">
                            <div class="card-header">
                                <h4><i class="fa fa-user"></i>Contact</h4>
                            </div>
                            <div class="card-body">
                                <ul class="contact-list">
                                    <li>
                                        <div class="iocn-item"><i data-feather="user"></i></div>
                                        <h6> {{ request.user.first_name}} {{ request.user.last_name}}</h6>
                                    </li>
                                    <li>
                                        <div class="iocn-item"><i data-feather="bookmark"></i></div>
                                        <h6> studied in uk univercity</h6>
                                    </li>
                                    <li>
                                        <div class="iocn-item"><i data-feather="phone-call"></i></div>
                                        <h6><a href="tel:+9588489584">{{request.user.phone_number}}</a></h6>
                                    </li>
                                    <li>
                                        <div class="iocn-item"><i data-feather="mail"></i></div>
                                        <h6 class="text-lowercase"><a href="mailto:test@example.com">{{request.user.email}}</a>
                                        </h6>
                                    </li>
                                    <li>
                                        <div class="iocn-item"><i data-feather="map-pin"></i></div>
                                        <h6> live in uk</h6>
                                    </li>
                                    <li>
                                        <div class="iocn-item"><i data-feather="globe"></i></div>
                                        <h6 class="text-lowercase"> {{request.user.tg_username}}</h6>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-12 col-md-6">
                        <div class="card">
                            <div class="card-header">
                                <h4><i class="fa fa-users"></i>Followers</h4>
                            </div>
                            <div class="card-body">
                                <ul class="follower-list">
                                    <li>
                                        <div class="media align-items-center"><img class="img-fluid"
                                                                                   src="../assets/images/avtar/1.jpg"
                                                                                   alt="">
                                            <div class="media-body">
                                                <h6>Mark Wongar</h6>
                                                <p class="text-light">3m follower </p>
                                            </div>
                                            <a class="badge badge-primary" href="javascript:void(0)"> <i
                                                    data-feather="plus"></i>follow</a>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="media align-items-center"><img class="img-fluid"
                                                                                   src="../assets/images/avtar/2.jpg"
                                                                                   alt="">
                                            <div class="media-body">
                                                <h6>Thomas Vactom</h6>
                                                <p class="text-light">4m follower </p>
                                            </div>
                                            <a class="badge badge-secondary" href="javascript:void(0)"> <i
                                                    data-feather="plus"></i>follow</a>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="media align-items-center"><img class="img-fluid"
                                                                                   src="../assets/images/avtar/3.jpg"
                                                                                   alt="">
                                            <div class="media-body">
                                                <h6>Lina Odem</h6>
                                                <p class="text-light">5k follower </p>
                                            </div>
                                            <a class="badge badge-success" href="javascript:void(0)"> <i
                                                    data-feather="plus"></i>follow</a>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="media align-items-center"><img class="img-fluid"
                                                                                   src="../assets/images/avtar/4.jpg"
                                                                                   alt="">
                                            <div class="media-body">
                                                <h6>Johan Deo</h6>
                                                <p class="text-light">10L follower </p>
                                            </div>
                                            <a class="badge badge-info" href="javascript:void(0)"> <i
                                                    data-feather="plus"></i>follow</a>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-12 col-md-6">
                        <div class="card">
                            <div class="card-header">
                                <h4><i class="fa fa-users"> </i>Followings</h4>
                            </div>
                            <div class="card-body">
                                <ul class="follower-list">
                                    <li>
                                        <div class="media align-items-center"><img class="img-fluid"
                                                                                   src="../assets/images/avtar/1.jpg"
                                                                                   alt="">
                                            <div class="media-body">
                                                <h6>Mark Wongar</h6>
                                                <p class="text-light">3m follower </p>
                                            </div>
                                            <a class="badge badge-primary" href="javascript:void(0)"> <i
                                                    data-feather="check"></i>following</a>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="media align-items-center"><img class="img-fluid"
                                                                                   src="../assets/images/avtar/2.jpg"
                                                                                   alt="">
                                            <div class="media-body">
                                                <h6>Thomas Vactom</h6>
                                                <p class="text-light">4m follower </p>
                                            </div>
                                            <a class="badge badge-secondary" href="javascript:void(0)"><i
                                                    data-feather="check"></i>following</a>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="media align-items-center"><img class="img-fluid"
                                                                                   src="../assets/images/avtar/3.jpg"
                                                                                   alt="">
                                            <div class="media-body">
                                                <h6>Lina Odem</h6>
                                                <p class="text-light">5k follower </p>
                                            </div>
                                            <a class="badge badge-success" href="javascript:void(0)"><i
                                                    data-feather="check"></i>following</a>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="media align-items-center"><img class="img-fluid"
                                                                                   src="../assets/images/avtar/3.jpg"
                                                                                   alt="">
                                            <div class="media-body">
                                                <h6>Johan Deo</h6>
                                                <p class="text-light">10L follower </p>
                                            </div>
                                            <a class="badge badge-info" href="javascript:void(0)"><i
                                                    data-feather="check"></i>following</a>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-12 col-md-6">
                        <div class="card">
                            <div class="card-header">
                                <h4><i class="fa fa-picture-o"></i>Gallery</h4>
                            </div>
                            <div class="card-body">
                                <ul class="gallerypost-list">
                                    <li><a data-fancybox="gallery" data-src="../assets/images/pages/gallery/1.jpg"
                                           data-caption=""><img class="img-fluid"
                                                                src="../assets/images/pages/gallery/1.jpg"
                                                                alt="gallery"></a></li>
                                    <li><a data-fancybox="gallery" data-src="../assets/images/pages/gallery/2.jpg"
                                           data-caption=""><img class="img-fluid"
                                                                src="../assets/images/pages/gallery/2.jpg"
                                                                alt="gallery"></a></li>
                                    <li><a data-fancybox="gallery" data-src="../assets/images/pages/gallery/3.jpg"
                                           data-caption=""><img class="img-fluid"
                                                                src="../assets/images/pages/gallery/3.jpg"
                                                                alt="gallery"></a></li>
                                    <li><a data-fancybox="gallery" data-src="../assets/images/pages/gallery/4.jpg"
                                           data-caption=""><img class="img-fluid"
                                                                src="../assets/images/pages/gallery/4.jpg"
                                                                alt="gallery"></a></li>
                                    <li><a data-fancybox="gallery" data-src="../assets/images/pages/gallery/5.jpg"
                                           data-caption=""><img class="img-fluid"
                                                                src="../assets/images/pages/gallery/5.jpg"
                                                                alt="gallery"></a></li>
                                    <li><a data-fancybox="gallery" data-src="../assets/images/pages/gallery/6.jpg"
                                           data-caption=""><img class="img-fluid"
                                                                src="../assets/images/pages/gallery/6.jpg"
                                                                alt="gallery"></a></li>
                                    <li><a data-fancybox="gallery" data-src="../assets/images/pages/gallery/7.jpg"
                                           data-caption=""><img class="img-fluid"
                                                                src="../assets/images/pages/gallery/7.jpg"
                                                                alt="gallery"></a></li>
                                    <li><a data-fancybox="gallery" data-src="../assets/images/pages/gallery/8.jpg"
                                           data-caption=""><img class="img-fluid"
                                                                src="../assets/images/pages/gallery/8.jpg"
                                                                alt="gallery"></a></li>
                                    <li><a data-fancybox="gallery" data-src="../assets/images/pages/gallery/9.jpg"
                                           data-caption=""><img class="img-fluid"
                                                                src="../assets/images/pages/gallery/9.jpg"
                                                                alt="gallery"></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-12 col-md-6">
                        <div class="card">
                            <div class="card-header">
                                <h4><i class="fa fa-user-plus"> </i>Add friend</h4>
                            </div>
                            <div class="card-body">
                                <ul class="follower-list">
                                    <li>
                                        <div class="media align-items-center"><img class="img-fluid"
                                                                                   src="../assets/images/avtar/1.jpg"
                                                                                   alt="">
                                            <div class="media-body">
                                                <h6>Mark Wongar</h6>
                                                <p class="text-light">3m follower </p>
                                            </div>
                                            <a class="badge badge-primary" href="javascript:void(0)">add friend</a>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="media align-items-center"><img class="img-fluid"
                                                                                   src="../assets/images/avtar/2.jpg"
                                                                                   alt="">
                                            <div class="media-body">
                                                <h6>Thomas Vactom</h6>
                                                <p class="text-light">4m follower </p>
                                            </div>
                                            <a class="badge badge-secondary" href="javascript:void(0)">add friend</a>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="media align-items-center"><img class="img-fluid"
                                                                                   src="../assets/images/avtar/3.jpg"
                                                                                   alt="">
                                            <div class="media-body">
                                                <h6>Lina Odem</h6>
                                                <p class="text-light">5k follower </p>
                                            </div>
                                            <a class="badge badge-success" href="javascript:void(0)">add friend </a>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="media align-items-center"><img class="img-fluid"
                                                                                   src="../assets/images/avtar/3.jpg"
                                                                                   alt="">
                                            <div class="media-body">
                                                <h6>Johan Deo</h6>
                                                <p class="text-light">10L follower </p>
                                            </div>
                                            <a class="badge badge-info" href="javascript:void(0)">add friend</a>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-9 cdx-xxl-70 cdx-xl-60">
                <div class="row">
                    <div class="col-12">
                        <div class="row">
                            <div class="col-xxl-4 col-md-6">
                                <div class="card">
                                    <div class="card-header">
                                        <h4>Business regions</h4>
                                    </div>
                                    <div class="card-body">
                                        <div class="input-group">
                                            <select class="form-control basic-select" name="state">
                                                {% for i in business_reg %}
                                                <option value="AL">{{i.Name}}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xxl-4 col-md-6">
                                <div class="card">
                                    <div class="card-header">
                                        <h4>Price List</h4>
                                    </div>
                                    <div class="card-body">
                                        <div class="input-group">
                                            <select class="form-control hidesearch" name="states[]">
                                                {% for i in price_list %}
                                                <option value="{{i.code}}">{{i.Name}}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xxl-4 col-md-6">
                                <div class="card">
                                    <div class="card-header">
                                        <h4>Agent Sklad</h4>
                                    </div>
                                    <div class="card-body">
                                        <div class="input-group">
                                            <select class="form-control hidesearch" name="states[]">
                                                {% for i in sklad %}
                                                <option value="{{i.code}}">{{i.Name}}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="card">
                                    <div class="card-header"><h3>Visited</h3></div>
                                    <div class="card-body">
                                        <div class="timeline timeline-left">
                                            {% for i in gps %}
                                            <div class="timeline-grid">
                                                <div class="icon-wrap"><img class="img-fluid"
                                                                            src="{{ request.user.picture.url }}"
                                                                            alt=""></div>
                                                <div class="timeline-content">
                                                    <h3>{{i.NameClient}}</h3>
                                                    <div class="timeline-date"><i class="fa fa-calendar"></i>{{i.FixingDate}}
                                                    </div>
                                                    <div>
                                                        <span class="text-muted">Longitude: </span> <span>{{i.Longitude}}</span>
                                                        <span class="text-muted">Latitude: </span>
                                                        <span>{{i.Latitude}}</span>
                                                    </div>
                                                    <div>

                                                    </div>
                                                    <div class="embed-responsive ">
                                                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d24296.09405535166!2d${{i.Longitude}}!3d${{i.Latitude}}!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x38ae8a4ea6b86e67%3A0x91ed3e9e44b3b0ab!2z0J3QvtCy0LfQsA!5e1!3m2!1sen!2s!4v1726959915070!5m2!1sen!2s"
                                                                height="150" style="border:0;"
                                                                width="200"
                                                                allowfullscreen="" loading="lazy"
                                                                referrerpolicy="no-referrer-when-downgrade"
                                                                id="gmap"></iframe>
                                                    </div>

                                                </div>
                                            </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- theme body end-->
<script src="{% static 'assets/js/vendors/select2/select2.min.js' %}"></script>
<script src="{% static 'assets/js/vendors/select2/custom-select2.js' %}"></script>
{% endblock %}